body {
  background: radial-gradient(rgb(248, 241, 241) 35%, rgb(235, 241, 102) 100%);
  font-size: 48px;
}

h1 {
  font-size: 5rem;
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 20px;
}

h2 {
  text-align: left;
  margin-left: 50px;
  padding: 0 auto;
  font-family: Tangerine;
}

h3 {
  text-align: left;
  margin-left: 20px;
}

.flex-container {
  box-sizing: border-box;
}

.logo {
  border-radius: 10px;
  align-items: center;
}
.row {
  display: flex;
  flex-flow: wrap;
}

.left-col {
  box-sizing: border-box;
  flex: 60%;
  align-content: flex-start;
  margin-left: 30px;
}

.right-col {
  align-self: center;
  flex: 40%;
}

.button {
  width: 500px;
  height: 70px;
  margin: 20px 20px;
  padding: 20px;
  border: 30px;
  border-radius: 50px;
  background-color: red;
  color: white;
  font-size: 2rem;
  border: 2px solid white;
}
