body {
  background: radial-gradient(rgb(248, 241, 241) 35%, rgb(235, 241, 102) 100%);
  font-size: 48px;
}

h1 {
  font-size: 5rem;
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 20px;
}

h2 {
  text-align: left;
  margin-left: 50px;
  padding: 0 auto;
  font-family: Tangerine;
}

h3{
    text-align: justify;
}

.flex-container {
   box-sizing: border-box;
}

.logo {
  border-radius: 10px;
  align-items: center;
}
.row {
  display: flex;
}

.left-col {
  box-sizing: border-box;

}

.right-col {
  align-content: flex-start;
}
